{% extends 'base/student/student_navbar.html' %}
{% load static %}
{% block title %} All Students List {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-4">
    <h1 class="text-center"><u>All Issued Books</u></h1>
    <table class="table table-hover" id="example">
        <thead>
            <tr class="text-center">
                <th>Sr.No</th>
                <th>Book Name</th>
                <th>Student Name</th>
                <th>Issue Date</th>
                <th>Expiry Date</th>
                <th>Fine</th>
                
                
            </tr>
        </thead>
        <tbody>
             {% for issue in issues %}
             {% if issue.status == 'issued' %}
             <tr class="text-center">
                <td>{{ forloop.counter }}</td>
                 <td>{{ issue.book }}</td>
                 <td>{{ issue.student }}</td>
                 <td>{{ issue.issue_date }}</td>
                 <td>{{ issue.expiry_date }}</td>
                 <td>{{ issue.fine }}</td>
                 
              </tr>
              {% endif %}
             {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
