<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">


<style type="text/css">
    {% comment %} .bs-example{
        margin: 0px;
        

    } {% endcomment %}
.navbar-brand{
  font-size: 33px;
  font-family: cursive;
  color: rgb(61, 67, 65);
  

}


</style>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="logout ">
       <img src="{% static 'images/logo.jpg'%}" width="50" height="50" class="d-inline-block align-top" alt="">
      The Orchid College
    </a>
  </nav>


</body>
</html>
