<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <style type="text/css">
    	body {
    		color: #196750;
    			background-color:#b6bde7;
    		font-family: 'Roboto', sans-serif;
    	}
        .form-control {
    		border-color: #eee;
            min-height: 41px;
    		box-shadow: none !important;
    	}
        .form-control:focus {
    		border-color: #5cd3b4;
    	}
        .form-control, .btn {
            border-radius: 3px;
        }
    </style>


  </head>
  <body>
    {% include "base/accounts/navbar.html" %}
    <br>
    <br>


	<div class="container">
		<br>
		<h1 class="text-center"><u>Student Login</u></h1><br>
		<p><b>Note:</b> Only the student can login from here.</p>
			<form method="POST"> {% csrf_token %}
		
			<div class="row mt-4">
				<div class="form-group col-md-12">
					<label><i style="font-weight: bold;">Email</i></label>
					<input type="text" class="form-control mt-2" name="username" placeholder="Enter Username" required>
				</div>
			</div>
		
			<div class="row mt-4">
				<div class="form-group col-md-12">
					<label><i style="font-weight: bold;">Password</i></label>
					<input type="password" class="form-control mt-2" name="password" placeholder="Enter Password" required>
				</div>
			</div>
			<button type="submit" class="btn btn-outline-primary mt-4">Login</button>
		</div>

		<script>
			{% if alert %}
			alert("Invalid Username or Password.")
			document.location = "/student_login"
			{% endif %}
		</script>


   
  </body>
</html>
