<html>
    <body>
  <table border='1px'>
    <thead>
        <tr>
            <th>Book Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Total Copies</th>
            <th>Available Copies</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.isbn }}</td>
            <td>{{ book.total_copies }}</td>
            <td>{{ book.available_copies }}</td>
            <td>
                {% comment %} {% if book.available_copies > 0 %}
                <a href="{% url 'issue_book' book.id %}">Issue</a>
                {% endif %} {% endcomment %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>