<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>The Orchid Library</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



<style type="text/css">
    .bs-example{
        margin: 0px;

    }
.navbar-brand{
  font-size: 20px;
  font-family: sans-serif;

}
.col-lg-6{
  padding-left: 20%;
}
.jumbotron{
  margin-bottom: 0px;
}
.wel{
  margin-top: 60px;
  padding-left: 25%;
  
}

</style>
</head>
<body>




{% include "base/accounts/navbar.html" %}








&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h1 class="wel"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Welcome to The Orchdi College library </h1>
<h3 align="center">Please login according to your category.</h3>






<div class="jumbotron">
  

  <div class="row">

    <div class="col-lg-6">
      {% comment %} <img src="{% static "images/admin.jpg" %}" width="70%" height="70%" alt=""><br><br> {% endcomment %}
        <a class="btn btn-secondary" style="text-align:center" href="{% url 'base:admin_login' %}" role="button">Admin</a>

    </div>

    <div class="col-lg-6">
      {% comment %} <img src="{% static "images/student.jpg" %}" width="70%" height="70%" alt=""><br><br> {% endcomment %}
      <a class="btn btn-secondary" href="{% url 'base:student_login' %}" role="button">Student</a>
    </div>
  </div>
<hr class="my-4">

</div>










</body>
</html>
