{% extends 'base/realbase.html' %}

{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Student Upload</h6>
    </div>
    <div class="card-body">


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Students</title>
</head>
<body>
    <h1>Upload Students</h1>
    {% if error %}
        <p style="color: red">{{ error }}</p>
    {% endif %}
    {% if message %}
        <p style="color: green">{{ message }}</p>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="myfile">
        <br><br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>

</div>
</div>

{% endblock %}